<div id="titleHeaders">
  <h1>Flexion Coding Challenge</h1>
  <h2>Unit Conversion Grader</h2>
</div>

<div id="tempConverter">
  <h5>Temperature Converter</h5>
  <form #temperatureConverter = "ngForm" (ngSubmit)="temperatureGrader(responseCard)">

    <label for="inputNumValue">Input Numerical Value</label>
    <br />
    <input type="number" name="inputTempNumValue" [(ngModel)]="responseCard.inputValue"/>
    <br />

    <label for="inputTempUnitMeasure">Input Unit of Measure</label>
    <br />
    <select name="inputTempUnitMeasure" id="inputTempUnitMeasure" [(ngModel)]="responseCard.inputUnit">
      <option *ngFor="let inputUnit of tempUnits" value="{{ inputUnit }}">
        {{ inputUnit }}
      </option>
    </select>
    <br />

    <label for="targetTempUnitMeasure">Target Unit of Measure</label>
    <br />
    <select name="targetTempUnitMeasure" id="targetTempUnitMeasure" [(ngModel)]="responseCard.targetUnit">
      <option *ngFor="let targetUnit of tempUnits" value="{{ targetUnit }}">
        {{ targetUnit }}
      </option>
    </select>
    <br>

    <label for="studentTempResponse">Student Response</label>
    <br>
    <input type="number" name="studentTempResponse" id="studentTempResponse" value="studentTempResponse" [(ngModel)]="responseCard.studentResponse">
    <br />

    <input type="submit" value="Submit">
  </form>
<hr>






  <div id="volConverter">
    <h5>Volume Converter</h5>
    <form #volumeConverter = "ngForm">

      <label for="inputVolNumValue">Input Numerical Value</label>
      <br />
      <input type="number" name="inputVolNumValue" />
      <br />

      <label for="inputVolUnitMeasure">Input Unit of Measure</label>
      <br />
      <select name="inputVolUnitMeasure" id="inputVolUnitMeasure">
        <option *ngFor="let unit of volumeUnits" value="{{ unit }}">
          {{ unit }}
        </option>
      </select>
      <br />

      <label for="targetVolUnitMeasure">Target Unit of Measure</label>
      <br />
      <select name="targetVolUnitMeasure" id="targetVolUnitMeasure">
        <option *ngFor="let unit of volumeUnits" value="{{ unit }}">
          {{ unit }}
        </option>
      </select>
      <br>

      <label for="studentResponse">Student Response</label>
      <br>
      <input type="number" name="studentVolResponse" id="studentVolResponse">
      <br />

      <input type="submit" value="Submit">
    </form>


</div>
